
.running {
    color: #449d44;
}

.disabled {
    color: #888888;
}

.error {
    color: #BB2020;
}

.dateWidth {
    width: 10%;
}

.idWidth {
    width: 20%;
}

.statusWidth {
    width: 5%;
    height: 40px!important;
}

.statusButtonWidth {
    width: 95px;
}

.lastFetch {
    float: right!important;
}

.selected {
    background-color: #E0F2F7;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #2a6496;
    color: #2a6496;
}

.ng-table-pager { display: none; }
