<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<!-- Supress some logging -->
	<logger name="scala.slick" level="info" />

	<logger name="com.excilys.ebi.gatling" level="TRACE">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>